html,body{
    height: 100%;
    font-family: 'Gudea', sans-serif;
}

#me {
	height: 80%;
	width: 80%;
}

.project {
  min-height: 250px;
  max-height: 250px;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.navbar-brand {
    font-size: 3em;
    margin-top: 15px;
    padding-left: 100px;
}

#name {
  color: #5f8aa3;
}

/* Footer Styling */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: black;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}