@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500&display=swap');

body {
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    color: #1B1B1B;
}

#container {
    width: 960px;
    margin: 60px auto 0;
}

#name {
    display: inline-block;
    margin: 0;
    width: 40%;
    padding-left: 27px;
}

#name a {
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    font-size: 48px;
    color: black;
    display:inline-block;
    text-decoration: none;
}

.custom-link {
    text-decoration: none;
    color: #1a33f0;
    border-bottom: 0.5pt solid #1a33f0;

    -o-transition: color .75s;
    -ms-transition: color .75s;
    -moz-transition: color .75s;
    -webkit-transition: color .75s;
    transition: color .75s;
}

.custom-link:hover {
    color: #5309b0;

    -o-transition: color .1s;
    -ms-transition: color .1s;
    -moz-transition: color .1s;
    -webkit-transition: color .1s;
    transition: color .1s;
}

#about-content {
    margin: 90px auto 35px;
    width: 900px;
    font-size: 16px;
}

#pic-contact {
    display: inline-block;
    vertical-align: top;
}

#pic-contact img {
    width: 230px;
}

#about-info {
    display: inline-block;
    width: 630px;
    position: relative;
    left: 35px;
    border-left: 2px solid black;
    padding-left: 15px;
}

#contact {
    display: none;
}

.headline {
    background-color: rgb(255, 241, 210);
    padding: 2px 5px;
    font-size: 34px;
    font-weight: 500;
}

.subheading {
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.about-desc {
    font-family: 'Noto Serif TC', serif
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 36px;
    text-align: justify;
}

/* Desktop-first responsiveness */

@media screen and (max-width: 980px) {
    #container {
        width: 100%;
    }

    #name {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    #about-content {
        margin-top: 40px;
        width: 96%;
    }

    #pic-contact {
        display: flex;
    }

    #pic-contact div {
        display: none;
    }

    #pic-contact img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #about-info {
        width: 100%;
        text-align: center;
        margin: 40px auto 0px;
        padding: 0;
        left: 0px;
        bottom: 0px;
        border: none;
    }

    #contact {
        display: block;
    }

    .about-desc {
        margin-top: 20px;
    }


}

